@font-face {
    font-family: 'Roboto-Regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

.first-section {
    background-image: url('./images/first-section-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.sixth-section {
    background-image: url('./images/section-center-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.ninth-section {
    margin-bottom: 60px;
}

.tenth-section .container {
    background-color: #9AA8B1;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tenth-section {
    margin-bottom: 39px;
    margin-top: 60px;
}

.ftr-subtitle {
    color: #A0A0A0;
}

.ftr-block {
    width: 82px;
    height: 82px;
}

.footer {
    background-color: #F9F9F9;
}

.mean-block {
    row-gap: 15px;
}

.link {
    list-style: none;
    margin-bottom: 84px;
}
.link-item {
    width: 160px;
}
.link-item a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
}

.footer__btn {
    display: none;
    position: fixed;
    bottom: 26%;
    right: 6%;
    height: 82px;
    width: 82px !important;
    transition: all .6s;
}
.footer__btn:hover {
    color: lawngreen;
}

.footer__btn.active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ftr-info {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-align: right;
letter-spacing: 0.8px;

color: #000000;
}
.ftr-info a {
    text-decoration: none;
    color: #000000;
}